### Market Basket Analysis
Investigating Lift vs. Confidence

In [2]:
#install mlxtended for data encoding, apriori, and association_rule
#pip install mlxtend

In [6]:
#import needed libariries
from mlxtend.preprocessing 
import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [12]:
#create dataframe from sample file - 200 random market baskets
df = pd.read_excel('market_baskets.xlsx')

In [22]:
#check column name
df.columns

Index([' Transaction ID ', ' Items                                  '], dtype='object')

In [25]:
#clean columen names and drop transaction ID
df.rename(columns=lambda x: x.strip(), inplace=True)
df.drop(['Transaction ID'], axis=1, inplace=True)

In [31]:
#check results
df.head()

                                       Items
0    Milk, Bread, Eggs, Apples
1    Bread, Butter, Cheese, Yogurt
2    Eggs, Bacon, Sausage
3   Apples, Oranges, Bananas, Grapes
4    Milk, Bread, Eggs, Yogurt

In [34]:
#create makret baskets in list format
market_basket = [x.split() for x in df.Items]

In [36]:
#convert the market basket data into a transaction-encoded format
te = TransactionEncoder()
te_ary = te.fit_transform(market_basket)

In [39]:
#check output array
te_ary

array([[ True, False, False, ..., False, False, False],
       [False, False, False, ..., False,  True, False],
       [False, False,  True, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False,  True, False, ..., False,  True, False],
       [ True, False, False, ..., False, False, False]])

In [46]:
#check output columns
str(te.columns_)

"['Apples', 'Apples,', 'Bacon,', 'Bananas,', 'Beans,', 'Bread', 'Bread,', 'Butter', 'Butter,', 'Carrots,', 'Cereal,', 'Cheese,', 'Chicken,', 'Chips,', 'Coffee,', 'Cream', 'Eggs,', 'Garlic,', 'Grapes', 'Grapes,', 'Ham,', 'Kiwi', 'Lettuce', 'Milk,', 'Oranges,', 'Parmesan', 'Pasta,', 'Peas', 'Potatoes,', 'Rice,', 'Salsa', 'Sauce,', 'Sausage', 'Soda,', 'Sugar,', 'Tortillas', 'Yogurt', 'Yogurt,']"

In [ ]:
#create df with resuls
df = pd.DataFrame(te_ary, columns=te.columns_)

In [55]:
#frequent itemset mining using apriori algorithm, min suppot = 0.1, show result sorted by suppot
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets.sort_values(['support'], ascending=False).head(10)

    support                itemsets
2     0.330                (Bread,)
5     0.270                 (Eggs,)
6     0.270                 (Milk,)
8     0.260                (Yogurt)
15    0.205          (Milk,, Eggs,)
17    0.200  (Milk,, Bread,, Eggs,)
13    0.200         (Milk,, Bread,)
12    0.200         (Bread,, Eggs,)
0     0.195               (Apples,)
4     0.135              (Chicken,)

In [63]:
#create association rules with a minimum lift threshold of 1
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules.sort_values(['confidence'], ascending=False).head(50)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,"(Bananas,)","(Apples,)",0.130,0.195,0.130,1.000000,5.128205,0.10465,inf,0.925287
3,"(Oranges,)","(Apples,)",0.130,0.195,0.130,1.000000,5.128205,0.10465,inf,0.925287
18,"(Bread,, Eggs,)","(Milk,)",0.200,0.270,0.200,1.000000,3.703704,0.14600,inf,0.912500
5,"(Cheese,)","(Bread,)",0.130,0.330,0.130,1.000000,3.030303,0.08710,inf,0.770115
16,"(Milk,, Bread,)","(Eggs,)",0.200,0.270,0.200,1.000000,3.703704,0.14600,inf,0.912500
17,"(Milk,, Eggs,)","(Bread,)",0.205,0.330,0.200,0.975610,2.956393,0.13235,27.470000,0.832390
12,"(Milk,)","(Eggs,)",0.270,0.270,0.205,0.759259,2.812071,0.13210,3.032308,0.882726
13,"(Eggs,)","(Milk,)",0.270,0.270,0.205,0.759259,2.812071,0.13210,3.032308,0.882726
19,"(Milk,)","(Bread,, Eggs,)",0.270,0.200,0.200,0.740741,3.703704,0.14600,3.085714,1.000000
21,"(Eggs,)","(Milk,, Bread,)",0.270,0.200,0.200,0.740741,3.703704,0.14600,3.085714,1.000000
8,"(Milk,)","(Bread,)",0.270,0.330,0.200,0.740741,2.244669,0.11090,2.584286,0.759589
7,"(Eggs,)","(Bread,)",0.270,0.330,0.200,0.740741,2.244669,0.11090,2.584286,0.759589
1,"(Apples,)","(Bananas,)",0.195,0.130,0.130,0.666667,5.128205,0.10465,2.610000,1.000000
2,"(Apples,)","(Oranges,)",0.195,0.130,0.130,0.666667,5.128205,0.10465,2.610000,1.000000
9,"(Bread,)","(Milk,)",0.330,0.270,0.200,0.606061,2.244669,0.11090,1.853077,0.827612
6,"(Bread,)","(Eggs,)",0.330,0.270,0.200,0.606061,2.244669,0.11090,1.853077,0.827612
20,"(Bread,)","(Milk,, Eggs,)",0.330,0.205,0.200,0.606061,2.956393,0.13235,2.018077,0.987687
15,(Yogurt),"(Milk,)",0.260,0.270,0.130,0.500000,1.851852,0.05980,1.460000,0.621622
11,(Yogurt),"(Bread,)",0.260,0.330,0.130,0.500000,1.515152,0.04420,1.340000,0.459459
14,"(Milk,)",(Yogurt),0.270,0.260,0.130,0.481481,1.851852,0.05980,1.427143,0.630137
10,"(Bread,)",(Yogurt),0.330,0.260,0.130,0.393939,1.515152,0.04420,1.221000,0.507463
4,"(Bread,)","(Cheese,)",0.330,0.130,0.130,0.393939,3.030303,0.08710,1.435500,1.000000

The choice between lift and confidence as a metric in market basket analysis depends on your specific goals and the context of your analysis. Both metrics provide different insights and can be useful depending on the situation.  However, lift should be confirmed when high confidence is observed to take into account the expected support under independence.